.products-parent{
    .grid-parent-products{
        display: grid;
        width: 70%;
        margin: auto;
        grid-template-columns: 1fr 5fr;
        padding: 20px 0;
        gap: 40px;
        .product-discount-flex{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(205, 204, 204, 0.384);
            
            select{
                border: none;
                outline: none;
                option{}
            }
        }
    }
}