
body{
    font-family: 'roboto';
}
.navbar-parent{
    nav{
        padding: 0;
    }
    li{
        color: rgb(0, 0, 0);
        font-size: 14px;
    }
    h1{
        color: #2874F0;
        font-size: 14px;
    }
    .home{
        color: white;
    }
.main-links{
    color: white;
}
}