
body{
    font-family: 'roboto';
}
.navbar-parent{
    nav{
        padding: 0;
    }
    li{
        color: white;
        font-size: 14px;
    }
    h1{
        color: white;
        font-size: 14px;
    }

}